@{
    ViewData["Title"] = "About";
}
<h2 style="color:white">@ViewData["Title"] - Parkour & Freerunning Bulgaria</h2>
<br />
<h3 style="color:white">Our mission</h3>
<p>
    Creating and hosting a place where the Bulgarian Parkour/Freerunning community<br />
    can use as a Hub for sharing, communicating, making the sport more accsessable <br />
    for everyone and furthermore increasing the popularity and interest in the sport.
</p>
<br />
<h3 style="color:white">Partners </h3>
<div>
    <h4 style="color:white">Freerun Bulgaria</h4>
    <img src="~/images/19093051_10154477781756126_1964964848138660069_o.jpg" alt=""  width="250px" />
    
</div>


