
@{
    ViewData["Title"] = "Index";
}
<div class="caret" style="width:100%">asdasda</div>
<div>
    <p>Gallery</p>
    <p>Gallery</p>
    <p>Gallery</p>
    <p>Gallery</p>
    <p>Gallery</p>
    <p>Gallery</p>
    <p>Gallery</p>
</div>



